@media (prefers-color-scheme: light) {
    .auto {
        background: white;
        color: black;
    }

    .auto .dialog {
        padding: 5%;
        background: #f2f2f2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
    }

    .auto .link {
        text-decoration: none;
        color: blue;
    }

    .auto .inp {
        border: solid 1px gray;
        background: #f6f6f6;
        color: black;
    }
    .auto .inp::placeholder {
        color: #666;
    }
    .auto .jbtn {
        background: #ccc;
        color: black;
    }
    .auto .jbtn:hover {
        color: white;
    }

    .auto .jout {
        border: solid 1px black;
        color: black;
    }
    .auto .jout:hover {
        border: solid 1px black;
        background: black;
        color: white;
    }

    .auto .mnu {
        border-right: solid 1px black;
    }

    .auto .mnu {
        padding: 2%;
    }
    .auto .mnu a {
        color: black;
        text-decoration: none;
    }
    .auto .mnu a:hover {
        color: black;
        text-decoration: none;
    }
    .auto .mnu li {
        padding: 5%;
    }
    .auto .mnu li:hover {
        color: black;
        background: #ddd;
    }
    .auto .mnu .selected {
        font-weight: bold;
        background: #ccc;
    }
    .auto .mnu ul {
        display: block;
        padding: 1%;
        list-style: none;
    }
}

@media (prefers-color-scheme: dark) {
    .auto {
        background: #222;
        color: white;
    }

    .auto .dialog {
        padding: 5%;
        background: #313131;
        border-radius: 5px;
    }

    .auto .link {
        text-decoration: none;
        color: blue;
    }

    .auto .inp {
        border: solid 1px black;
        background: #444;
        color: white;
    }
    .auto .inp::placeholder {
        color: #aaa;
    }
    .auto .jbtn {
        background: #555;
        color: white;
    }
    .auto .jbtn:hover {
        color: white;
    }

    .auto .jout {
        border: solid 1px white;
        color: white;
    }
    .auto .jout:hover {
        border: solid 1px black;
        background: black;
        color: white;
    }

    .auto .mnu {
        padding: 2%;
    }
    .auto .mnu {
        border-right: solid 1px white;
    }

    .auto .mnu a {
        color: white;
        text-decoration: none;
    }
    .auto .mnu a:hover {
        color: black;
        text-decoration: none;
    }
    .auto .mnu li {
        padding: 5%;
    }
    .auto .mnu li:hover {
        color: white;
        background: #555;
    }
    .auto .mnu .selected {
        font-weight: bold;
        background: #333;
    }
    .auto .mnu ul {
        display: block;
        padding: 1%;
        list-style: none;
    }
}