.dark {
    background: #222;
    color: white;
}

.dark .dialog {
    padding: 5%;
    background: #313131;
    border-radius: 5px;
}

.dark .link {
    text-decoration: none;
    color: blue;
}

.dark .inp {
    border: solid 1px black;
    background: #444;
    color: white;
}
.dark .inp::placeholder {
    color: #aaa;
}
.dark .jbtn {
    background: #555;
    color: white;
}
.dark .jbtn:hover {
    color: white;
}

.dark .jout {
    border: solid 1px white;
    color: white;
}
.dark .jout:hover {
    border: solid 1px black;
    background: black;
    color: white;
}

.daek .mnu {
    padding: 2%;
}
.dark .mnu {
    border-right: solid 1px white;
}

.dark .mnu a {
    color: white;
    text-decoration: none;
}
.dark .mnu a:hover {
    color: black;
    text-decoration: none;
}
.dark .mnu li {
    padding: 5%;
}
.dark .mnu li:hover {
    color: white;
    background: #555;
}
.dark .mnu .selected {
    font-weight: bold;
    background: #333;
}
.dark .mnu ul {
    display: block;
    padding: 1%;
    list-style: none;
}