@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 8%;
}
.icon {
    padding: 5px;
    border-radius: 5px;
}
.br {
    padding: 2px;
}